<div class="container">
    <form class="row" [formGroup]="loginForm">
        <div class="form-group col-10 offset-1 mt-4">
            <input class="form-control" formControlName="userName" id="username" type="text" name="uname"
                placeholder="Enter your username">

            <div *ngIf="loginForm.get('userName').errors?.required && (loginForm.get('userName').touched || !loginForm.get('userName').pristine)">
                Username is required.
            </div>
        </div>

        <div class="form-group col-10 offset-1">
            <input class="form-control" formControlName="password" id="password" type="password" name="password"
                placeholder="Enter your password">


            <div *ngIf="loginForm.get('password').errors?.required && (loginForm.get('password').touched || !loginForm.get('password').pristine)">
                Password is required.
            </div>
            <div *ngIf="loginForm.get('password').errors?.minlength && (loginForm.get('password').touched || !loginForm.get('password').pristine)">
                Minimum length of password must be 8.
            </div>
        </div>
            
        <div class="form-group col-10 offset-1">
            <input class="form-control" formControlName="age" id="age" type="number" name="age"
                placeholder="Enter your age">
            <div *ngIf="loginForm.get('age').errors?.dynamicAgeValidator && (loginForm.get('age').touched || !loginForm.get('age').pristine)">
                Age should bein the range 30 to 50.
            </div>
        </div>
        
        
        <div class="form-group col-10 offset-1">
            <input type="checkbox"><label class="ml-1" id="cb">Remember me</label>
        </div>

        <div class="justify-content around">
            <h6 id="errormessage" class="ml-5 text-color:wheat"> </h6>
        </div>

        <div class="form-group col-10 offset-1">
            <input class="btn btn-info w-100 " type="button" value="Login" (click)="loginEventHandler()">
        </div>
        <div class="form-group col-10 offset-1">
            <input class="btn btn-info w-100" type="button" value="Login with Google">
        </div>
        <div class="form-group col-10 offset-1">
            <input class="btn btn-info w-100" type="button" value="Sign Up" (click)="signUpEventHandler()">
        </div>
    </form>
</div>