<!-- <p>start works!</p> -->

<div class="container-fluid">
    <div class="row mt-2 ml-2">
        <div class="col">
            <h1 id="site">Hack India</h1>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row" >
        <div class="col-6 offset-3" id="ins">
            <h3 class="mt-2">Test Instruction</h3>
            <ol>
                <li>Duration of test is 30 minutes.</li>
                <li>Minimum 70% efficiency is necessary for clearing this round.</li>
                <li>You are not allowed to go back to previous question.</li>

                <li> Ensure that you are attempting the test using the correct email ID.</li>
                    
                <li> If you need assistance during the test, click the question mark (?) in the lower-right corner of the page to raise a ticket.</li>
                    
                <li>  Once the test has started, the timer cannot be paused. You have to complete the test in one attempt.</li>
            
                <li> Do not close the browser window or tab of the test interface before you submit your final answers.</li>
            
                <li> It is recommended that you ensure that your system meets SimpliRecruits's compatibility requirements and check your Internet connection before starting the test.</li>
            
                <li>It is recommended that you attempt the test in an incognito or private window so that any extensions installed do not interfere with the test environment.</li>
            
                <li> We recommend that you close all other windows and tabs to ensure that there are no distractions.</li>
         
            </ol>

            <div class="text-center">
                <input type="button" value="Start" class="mb-4 btn" id='btn' (click)= "startEventHandler()">
            </div>
            
        </div>
    </div>
    
</div>


